DB_LOCATION=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# generate keys with node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=
JWT_EXPIRATION=

PORT=3001
NODE_ENV=development
LOG_LEVEL=debug
